<footer class="footer">
    <span class="todo-count"><strong>{{pendientes}}</strong> item left</span>
    <ul class="filters">
        <li 
            *ngFor="let filtro of filtros"
            (click)="cambiarFiltro(filtro)"
            >
            <a [class.selected]="filtro === filtroActual">{{filtro | titlecase}}</a>
        </li>
        <!-- <li>
            <a href="#/active">Active</a>
        </li>
        <li>
            <a href="#/completed">Completed</a>
        </li> -->
    </ul>
    <button (click)="borrarCompletados()" class="clear-completed">Clear completed</button>
</footer>